<%- include("./partials/header") %>

<div class="container">
	<h1>LogIn</h1>
	<form class="form-inline" action="/login" method="POST">
		<input class="form-control" type="text" placeholder="username" name="username">
		<input class="form-control" type="password" placeholder="password" name="password">
		<button class="btn-primary btn btn-md">Submit</button>
	</form>
</div>

<%- include("./partials/footer") %>